body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.3em;
    line-height: 1.2em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/*hr {
  width: 80%;
  opcaity: 0.5;
  background-color: transparent;
}*/

/* ***float classes to move things to the left or right*** */
/* ***remember to clear (left or right) when you want things on a new line*** */
.float-img-left {
    float:left;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 2px;
}

.float-img-right {
    float:right;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 2px;
}

/* ***creating row & columns*** */
.rowCentered {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Create two equal columns that sit next to each other */
.columnTwo {
  flex: 50.0%;
  padding: 5px;
}

/* Create three equal columns that sit next to each other */
.columnThree {
  flex: 33.33%;
  padding: 5px;
}

/* ***getting text over an image*** */
 /* Container holding the image and the text */
.container {
  position: relative;
  display: inline;
}

/* top right text */
.text-block {
  position: absolute;
  top: 20px;
  right: 20px;
  transform: translate( -50%, -50% );
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
} 

.div80 {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.div60 {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ***figure with captions*** */
/* ***4 different versions of this for different sized figures*** */
figure {
  width: 100%;
  text-align: center;
  font-style: italic;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}
figure60 {
  width: 60%;
  text-align: center;
  font-style: italic;
/*  font-size: smaller;*/
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}
figure50 {
  width: 50%;
  text-align: center;
  font-style: italic;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}
figure40 {
  width: 40%;
  text-align: center;
  font-style: italic;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}
figure30 {
  width: 30%;
  text-align: center;
  font-style: italic;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}
figure20 {
  width: 20%;
  text-align: center;
  font-style: italic;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.8em;
  padding: 0.5em;
}
/*makes the image as wide as the inside of the figure (the area inside the border and the padding).*/
img.scaled {
  width: 100%;
}

 /* ***Dropdown Button*** */
.dropbtn {
  overflow: hidden;
  color: white;
  padding: 0px;
  background-color: transparent;
  font-weight: bold;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  list-style: none;
  font-weight: bold;
  border: none;
  /*display: inline; */
  /*margin-right: 20px;*/
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #ddd;} 
