<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% include google-analytics.html %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/skills">Skills</a></li>
				<li><div class="dropdown">
					<button class="dropbtn"><a href="/research">Research</a></button>
					<div class="dropdown-content" style="left:0;">
						<a href="https://prglaum.github.io/research/fisheries/">Fisheries</a>
						<a href="https://prglaum.github.io/research/pollination/">Pollination</a>
						<a href="https://prglaum.github.io/research/scalability/">Scalability</a>
						<a href="https://prglaum.github.io/research/urbaneco/">Urban Ecology</a>
						<a href="https://prglaum.github.io/research/chemoeco/">Chemical Ecology</a>
					</div>
				</div></li>
		        	<li><a href="/outreach">Outreach</a></li> 
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:prglaum@gmail.com">email</a></li>
	        		<li><a href="https://github.com/prglaum" target="_blank" rel="noopener noreferrer">github.com/prglaum</a></li>
				<li><a href="https://scholar.google.com/citations?user=-2A0GQ8AAAAJ&hl=en&oi=sra" target="_blank" rel="noopener noreferrer">GoogleScholar</a></li>
				<li><a href="https://www.researchgate.net/profile/Paul-Glaum" target="_blank" rel="noopener noreferrer">ResearchGate</a></li>
				<li> © COPYRIGHT 2022. ALL RIGHTS RESERVED. </li>
				</ul>
			</footer>
		</body>
	</html>
